{
  "allowTransparency": "",
  "bellSound": "",
  "bellStyle": "",
  "cols": "",
  "convertEol": "",
  "cursorBlink": "",
  "cursorStyle": "",
  "cursorWidth": "",
  "disableStdin": "",
  "drawBoldTextInBrightColors": "",
  "fastScrollModifier": "",
  "fastScrollSensitivity": "",
  "fontFamily": "",
  "fontSize": "",
  "fontWeight": "",
  "fontWeightBold": "",
  "letterSpacing": "",
  "lineHeight": "",
  "logLevel": "",
  "macOptionClickForcesSelection": "",
  "macOptionIsMeta": "",
  "minimumContrastRatio": "",
  "rendererType": "",
  "rightClickSelectsWord": "",
  "rows": "",
  "screenReaderMode": "",
  "scrollSensitivity": "",
  "scrollback": "",
  "tabStopWidth": "",
  "theme": "",
  "windowOptions": "",
  "windowsMode": "",
  "wordSeparator": ""
}


